<%layout('layouts/boilerplate')%>
<script>
  const mapToken = "<%-process.env.MAPBOX_TOKEN%>";
  const campground = <%-JSON.stringify(showcampground)%>;
</script>
<div class="row">
  <div class="col-6 offset-3">
    <div id="map" style="width: 400px; height: 300px"></div>
    <div class="card" mb-3>
      <% for(let img of showcampground.images) { %>
      <img src="<%=img.url %>" class="card-img-top" alt="" />
      <% } %>
      <div class="card-body">
        <h5 class="card-title"><%= showcampground.title %></h5>
        <p class="card-text"><%=showcampground.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-muted">
          <%= showcampground.location %>
        </li>
        <li class="list-group-item">
          Submitted by : <%= (showcampground.author && showcampground.author.username) ? showcampground.author.username : 'Unknown' %>
        </li>
        
        
        <li class="list-group-item"><%= showcampground.price %></li>
      </ul>

      <% if (currentUser && showcampground.author.equals(currentUser._id)) {%>
      <div class="card-body">
        <a
          class="card-link btn-info"
          href="/campground/<%= showcampground._id %>/edit"
          >Edit</a
        >
        <form
          class="d-inline"
          action="/campground/<%=showcampground._id%>?_method=DELETE"
          method="POST"
        >
          <button class="btn-danger">Delete</button>
        </form>
      </div>
      <% } %>

      <div class="card-footer text-muted">
        2days ago
        <a href="/campground">All Campground</a>
      </div>
    </div>
    <% if(currentUser){ %>
    <h2>Leave a review</h2>
    <form
      action="/campground/<%= showcampground._id %>/review"
      method="POST"
      class="validated-form"
      novalidate
    >
      <div class="mb-3">
        <label for="rating">Rating</label>
        <input type="range" min="1" max="5" name="review[rating]" id="rating" />
      </div>
      <div class="mb-3">
        <label class="form-label" for="body">Review</label>
        <div class="mb-5">
          <textarea
            class="form-control"
            name="review[body]"
            id="body"
            cols="30"
            rows="3"
            required
          ></textarea>
        </div>
        <button class="btn-success">submit</button>
      </div>
    </form>
    <% } %> <% for(let review of showcampground.reviews) {%>
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Rating:<%= review.rating %></h5>
        <h6 class="card-subtitle mb-2 text-muted">
          By <%=review.author.username %>
        </h6>
        <p class="card-text">Review :<%= review.body %></p>
        <% if(currentUser && review.author.equals(currentUser._id)) {%>
        <form
          action="/campground/<%=showcampground._id%>/review/<%= review._id %>?_method=DELETE"
          method="POST"
        >
          <button class="btn-danger">Delete</button>
        </form>
        <% } %>
      </div>
    </div>
    <% } %>
  </div>
</div>

<script src="/javascripts/showPageMap.js"></script>
